* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-color: green;
  height: 80px;
  position: fixed;
  width: 100%;
}

.header-text {
  background-color: aqua;
  height: 600px;
}