* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* UTILITY  */

.p-t {
  padding-top: 30px;
}

.font-size {
  font-size: 2.5rem;
}

.p-b {
  padding-bottom: 40px;
}

.m-b {
  margin-bottom: 15px;
}

.style-none {
  list-style-type: none;
}


.new-m-b {
  margin-bottom: 65px;
}

.position-relative {
  position: relative;
}

.font-weight {
  font-weight: bold;
}

.p-l {
  padding-left: 30px;
}

.p-t-t {
  padding-top: 15px;
}





/* HEADER */


.banner {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.banner img {
  width: 100px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.menu-left span {
  cursor: pointer;
  margin: 0 10px;
}

.menu-right span {
  cursor: pointer;
  margin: 0 10px;
}


.menu-left span {
  vertical-align: middle;
}

.bottone {
  background-color:#0061FE;
  padding: 5px;
  color: white;
}


/* MAIN   */

.blue-cont {
  background-color: #B4D0E6;
  max-width: 100%;
}

.text-cont {
  width: 65%;
  margin: 0 auto;
} 

.text-cont h1 {
  font-size: 4.5rem;
  padding-top: 50px;
  padding-bottom: 20px;
}


.btn {
  background-color: #0061FF;
  color: white;
  padding: 10px;
  cursor: pointer;
}


.arrow {
  padding-left: 10px;
  font-size: 2.5rem;
  padding-top: 50px;
  cursor: pointer;
}

.user-cell {
  position: absolute;
  top: 0px;
  left: 100px;
  padding-top: 10px;
}


.container {
  max-width: 55%;

  margin: 150px auto;
}

.plan-container {
  display: flex;
  gap: 20px;
}

.col {
  background-color: #f9f9f9;
  border: 1px solid black;
  padding: 20px;
  max-width: 270px;
}

.features {
  margin: 50px 0;
  position: relative;
}

.features li {
  margin-bottom: 20px;
}

.icon-text-container {
  display: flex;
  margin-bottom: 20px;
}

.icon {
  margin-right: 5px;
}

.icon-check {
  color: #0061FE;
  margin-right: 5px;
}


.btn-bg-blue {
  background-color: #0061FE;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

.i-text-container {
  display: flex;
  margin-bottom: 20px;
}

.col-reverse {
  background-color: white;
  margin-top: 50px;
  border:1px solid black;
}

.col-reverese-into {
  background-color: #0061FE;
  width: 30%;
  text-align: center;
  padding: 10px;
  color: white;
}

.reverse-position {
  padding-top: 50px;
  position: relative;
  bottom: 180px;
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  padding-right: 20px;
}

hr {
  margin-top: 50px;
  width: 20%;
}

.linea {
  margin-top: 20px;
  width: 100%;
}

.hr-linea {
  margin-top: 10px;
  width: 100%;
}


.text-linea {
  text-align: center;
  position: relative;
  top: 10px;
}

.container-row {
  max-width: 100%;
}

.rown {
  padding-top: 180px;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.rown img {
  width: 100%;
}

.cont-2 {
  display: flex;
  width: 100%;
  padding-top: 180px;
}

.box-1 {
  max-width: 60%;
  height: 380px;
}

.box-1 img {
  max-width: 100%;
}

.box-2 {
  max-width: 40%;
  height: 380px;
}

.partner-btn {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  }



  .container-2 {
    max-width: 100%;
    padding-top: 180px;
    padding-bottom: 180px;
  }

  .container-2 h1 {
    font-size: 2.5rem;
    padding-bottom: 50px;
  }

  .rowr {
    display: flex;
    flex-wrap: wrap;
  }

  .col-33 {
    width: calc(100% / 3);
  }

  .col-33 img {
    width: 100%;
  }

  .title-h1 {
    font-size: 1.8rem;
  }

  .scopri {
    padding-bottom: 100px;
  }
  
  /* FOOTER  */
  
  footer {
    background-color: #000000;
    height: 500px;
    max-width: 1600px;
  } 
