* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* UTILITY  */



.justify-content {
  justify-content: space-between;
}

/* HEADER */

.banner {
  background-color: aqua;
  max-width: 100%;
  height: 60px;
}





/* MAIN   */

.blue-cont {
  background-color: #B4D0E6;
  max-width: 100%;
  height: 550px;
  padding-bottom: 50px;
}

.container {
  background-color: white;
}




/* FOOTER  */

/* footer {
  background-color: #000000;
  height: 500px;
  max-width: 1600px;
}  */
